# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Node
node_modules/
dist/
build/

# Environment files
.env
.env.*

# Database files
*.db
instance/

# Uploaded files
static/uploads/

# Windows system
desktop.ini
Thumbs.db*
*.pt